.footer {
  width: 100vw;
  padding: 5vh 0;
  color: #FFF;
  background-color: #272727;
  text-align: center;
}

.footer-contents {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.footer-link {
  color: #FFF;
  font-size: 12px;
  line-height: 30px;
  margin-right: 5vh;
}

.logo-white {
  width: 20vh;
  vertical-align: bottom;
}

.footer>p {
  font-size: 14px;
}