a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */
.title-contents {
  width: 100vw;
  height: 100vh;
  background-image: image-url('nutrik_index01.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  padding-top: 120px;
}

.nutrik {
  font-size: 20px;
  margin-bottom: 50px;
  font-family: serif;
}

.service-title {
  font-size: 143px;
  height: 160px;
  font-family: serif;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
  font-family: serif;
}

/* //画面上部の「人生を変えるフリマアプリ」帯部分 */

/* FURIMAの特徴 */

.list-pict {
  margin-bottom: 20px;
  width: 100%;
}

.feature-contents {
  padding: 5vh 15vw;
}

.feature-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.feature-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAの特徴 */

/* 商品一覧 */

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* //商品一覧 */