.chart {
  /* padding-top: 15vh; */
  /* height: 50vh; */
}

.food-main {
  display: flex;
}

.item-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  background-color: #f5f5f5;
  margin-bottom: 5vh;
  width: 100%;
}

.food-box-img {
  height: 50vh;
  object-fit: contain;
}

.detail-top {
  margin: 25px 0px;
  display: flex;
}


.detail-top-first .cook-time {
  font-size: 16px;
  display: block;
}

.detail-top-first .cost {
  font-size: 16px;
  display: block;
}

.detail-top-second {
  margin-left: 3vw;
  font-size: 16px;
}


.ingredient-explain-box {
  font-size: 18px;
  margin-top: 40px;
  font-weight: bold;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-table tr:nth-child(odd) td{
  background-color: #FFF;
}

.detail-table tr:nth-child(even) td{
  background-color: #eee;
}

.ingredient-name {
  width: 20%;
  background-color: #eee;
  font-size: 14px;
  text-align: left;
  padding-left: 3vw;
}

.ingredient-amount {
  width: 80%;
  padding: 20px 3vw 20px 20px;
  font-size: 14px;
  text-align: end;
}

.favorite-btn-added {
  border-radius: 4px;
  width: 15vw;
  min-width: 200px;
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  background-color: orange;
}

.favorite-btn-add {
  border-radius: 4px;
  width: 15vw;
  min-width: 200px;
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}


.favorite-star-icon {
  margin-right: 5px;
}

.how-to-cook {
  font-size: 18px;
  margin-top: 40px;
  font-weight: bold;
  margin-bottom: 2vh;
}

.recipe-index {
  width: 32px;
  height: 32px;
  background-color:orange;
  color: white;
  font-size: 20px;
  border-radius: 4px;
  padding-left: 0.6vw;
}

.detail-table .recipe-text {
  width: 80%;
  padding: 20px 3vw 20px 20px;
  font-size: 14px;
  text-align:start;
  border-top: none;
  border-left: none;
  border-right: none;
}

.food-edit {
  text-align: center;
  background-color: orange;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 20px;
  padding: 2vh 7vw;
  border-radius: 100px;
}


.food-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 20px;
  color: black;
  margin: 20px 20px;
  padding: 2vh 7vw;
  border-radius: 100px;
}

.edit-destroy {
  display: flex;
  justify-content: center;
}

.favorite-btn-inner {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  padding-top: 2vh;
}

.favorite-btn-inner .added-favorite {
  color:#fff;
}

.favorite-btn-inner .add-favorite {
  color: orange;
}

.favorite-btn-inner:hover{
  opacity: 0.7;
}