.nickname {
  font-size: 32px;
  text-align: center;
  margin-bottom: 4vh;
}

.recipe-btn {
  width: 120px;
  background: orange;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.recipe-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
  font-weight: bold;
}

.recipe-btn-icon {
  width: 60%;
}