.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-orange-btn {
  width: 100%;
  background: orange;
  border: 1px solid orange;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.login-flash-message {
  text-align: center;
  color: red;

}